/*--------------------------------------
   Content
--------------------------------------*/

// Notes...

#main {

	/* Breadcrumbs
	--------------------------------------*/

	.title_container {

		// This section is not needed on
		// some pages.

		background: $light-gray;

		.home & {

			display: none;

		}

		// background: lighten($secondary-color-alternate-lighter, 10%);

		.container {

			min-height: 0 !important;
			padding-top: 19px !important;
			padding-bottom: 17px !important;

		}

			.main-title {

				display: none;

				a {

					&:hover {}

				}

			}

			.breadcrumbs {

				position: static;
				right: 50px;
				top: 50%;
				margin: 0;
				font-size: 12px;
				line-height: 1.65;
				z-index: 1;

				.breadcrumb-trail {

					position: relative;
					padding: 0 0 0 27px;
					@include group;

				}

					.trail-before {

						display: none;

					}

						.breadcrumb-title {}

					.trail-begin {

						position: absolute;
						left: 0;
						top: 50%;
						width: 24px;
						height: 24px;
						margin: -13px 0 0 0;
						background: url(assets/img/home.svg) 0 0 no-repeat;
						background-size: 24px 24px;
						@include hide-text;
						z-index: 1;

						&:hover {}

					}

					span {

						// color: $primary-color-light;

						a {

							// color: $primary-color-light;

							&:hover {}

						}

					}

					.sep {}

					.trail-end {}

			}

	}

	/* Layer Slider
	--------------------------------------*/

	#layer_slider_1 {

		max-width: 1130px;
		margin: 0 auto;
		padding: 50px 50px 0 50px;
		border: none;
		box-shadow: none;

		.ls-wp-container {

			position: relative;
			// border: 10px solid lighten($gray, 25%);

		}

			.ls-inner {}

				.ls-background-videos {}

				.ls-slide-backgrounds {}

				.ls-layers {

					.ls-link {

						&:hover {}

					}

					.ls-z {}

						.ls-in-out {}

							img {}

							h3 {}

							p {}

				}

			.ls-gui-element {}

			.ls-loading-container {}

				.ls-loading-indicator {}

			.ls-shadow {}

			.ls-bottom-nav-wrapper {

				display: none;

			}

				.ls-nav-sideleft {}

				.ls-bottom-slidebuttons {

					a {

						&:hover {}

					}

					.ls-nav-active {

						&:hover {}

					}

				}

				.ls-nav-sideright {}

	}

	#after_layer_slider_1 {

		border: none;

		.container {}

			.content {}

				.post-entry {}

					.entry-content-wrapper {}

						.av_textblock_section {}

							.avia_textblock {}

								.home-slider {

									strong {}

								}

								p {}

								h4 {}

								h5 {}

	}

	/* Main
	--------------------------------------*/

	#av_section_1 {

		border: none;

		.container {}

			.content {

				@include mobile {

					padding-top: 25px;
					padding-bottom: 25px;

				}

			}

				.post-entry {}

					.entry-content-wrapper {}

						// Three-column

						.flex_column {}

						.av_one_fourth {

							.widget {

								padding-top: 0;

							}

								.widgettitle {

									font-weight: normal;
									color: $gray;
									letter-spacing: 0;

								}

							// Secondary Navigation

							.cat-post-widget {

								@include mobile {

									margin-bottom: 25px;
									padding: 0;
									background: $light-gray;

								}

								.widgettitle {

									@include mobile {

										margin-bottom: 0;
										padding: 8px 10px;
										font-size: 16px;
										color: $white;
										background: $primary-color;

									}

								}

								.category-posts-internal {

									@include mobile {

										padding: 0 10px;

									}

								}

									li {

										margin: 0;
										padding: 0;

									}

										a {

											display: block;
											padding: 8px 0;
											color: #333333;
											text-decoration: none;

											&:hover {

												color: $primary-color;

											}

										}

									.cat-post-current {

										a {

											color: $primary-color;
											text-transform: none;

											&:hover {}

										}

									}

							}

							// Search

							.widget_search {

								// Temporarily hidden. I'm not sure this is really needed
								// since there is a global search available at the top.

								// Additionally, this isn't available on every page.

								display: none;

								.widgettitle {

									margin-bottom: 1em;

								}

								form {}

									div {}

										.button {}

										#s {}

							}

							// Image Container

							.avia-image-container {

								margin-bottom: 0;

								.avia-image-container-inner {}

									img {}

							}

							// Horizontal Rule

							.hr {

								.hr-inner {}

									.hr-inner-style {}

							}

							// Text

							.av_textblock_section {

								.avia_textblock {}

									p {}

										a {

											&:hover {}

										}

							}

						}

						// Main Content

						.av_one_half {}

						.av_three_fourth {}

						.av_one_full {}

						.av-special-heading {

							margin-bottom: 22px;
							padding: 0 !important;

							.av-special-heading-tag {

								font-size: 36px;

							}

							.av-subheading {

								margin-top: 1em;
								color: $gray;

								p {

									font-size: 24px;

								}

							}

						}

	}

						// Full Width Page (with Grid)

						.avia-content-grid-active {

							.avia-content-slider-inner {}

								.slide-entry-wrap {}

									.slide-entry {

										// background: pink;

									}

									// Two-Column

									.av_one_half {}

									// Three-Column

									.av_one_third {}

										.slide-image {

											margin: 0;
											background: none;

										}

											img {

												margin: 0;
												border-radius: 0;

											}

											.image-overlay {}

												.image-overlay-inside {}

										.slide-content {

											margin: 20px 0 0 0;
											// background: darken(pink, 5%);

										}

										.entry-footer {}

											.entry-content-header {}

												.slide-entry-title {

													a {

														&:hover {

															color: $primary-color;

														}

													}

												}

												.av-vertical-delimiter {}

											.slide-meta {}

												.slide-meta-comments {

													a {

														&:hover {}

													}

												}

												.slide-meta-del {}

												.slide-meta-time {}

											.slide-entry-excerpt {

												margin: 7px 0 0 0;
												padding: 5px 0 0 0;
												font-size: 14px;
												line-height: 1.65;
												border-top: 1px solid lighten($gray, 15%);

											}

												.read-more-link {

													margin: 15px 0 0 0;
													font-size: 12px;
													text-transform: uppercase;

													a {

														display: inline-block;
														padding: 4px 8px;
														color: #333333;
														background: lighten($gray, 25%);
														text-decoration: none;

														&:hover {

															color: $white;
															background: $primary-color;

														}

													}

												}

														.more-link-arrow {

															display: none;

														}

										.hidden {}

						}

						// News (Landing Page)

						.av-magazine {

							.av-magazine-group {}

								.flex_column {}

								.av_one_half {}

								.av-magazine-hero {

									.av-magazine-entry {

										margin: 0;

									}

										.av-magazine-thumbnail {

											margin: 0 0 15px 0;
											padding: 0;
											border: none;
											border-radius: 0;

											a {

												display: block;

												&:hover {}

											}

												img {

													margin: 0;

												}

												.image-overlay {}

													.image-overlay-inside {}

										}

										.av-magazine-content-wrap {

											padding: 0;
											border: none;

										}

											.entry-content-header {}

												.av-magazine-time {}

												.av-magazine-text-sep {

													display: none;

												}

												.av-magazine-author {

													display: none;

												}

													.av-magazine-author-link {}

														.vcard {}

															.fn {

																a {

																	&:hover {}

																}

															}

												.av-magazine-title {

													font-size: 36px;
													line-height: 1.1;
													font-weight: normal;

													a {

														&:hover {

															color: $primary-color;

														}

													}

												}

											.entry-content {

												a {

													&:hover {}

												}

											}

										.entry-footer {}

								}

								.av-magazine-sideshow {

									margin: 30px 0 0 0;

									.av-magazine-entry {

										position: relative;
										min-height: 141px;
										margin: 0;
										padding: 24px 0 20px 120px;
										border-top: 1px solid lighten($gray, 25%);

									}

										.av-magazine-thumbnail {

											position: absolute;
											left: 0;
											top: 20px;
											float: none;
											width: 100px;
											height: 100px;
											margin: 0;
											padding: 0;
											border: none;
											z-index: 1;

											a {

												&:hover {}

											}

												img {}

												.image-overlay {}

													.image-overlay-inside {}

										}

										.av-magazine-content-wrap {

											border: none;

										}

											.entry-content-header {}

												.av-magazine-time {

													display: block;
													margin: 0 0 5px 0;
													line-height: 1;

												}

												.av-magazine-text-sep {}

												.av-magazine-author {}

													.av-magazine-author-link {}

														.vcard {}

															.fn {

																a {

																	&:hover {}

																}

															}

												.av-magazine-title {

													font-size: 18px;
													line-height: 1.65;
													// font-weight: normal;

													a {

														&:hover {

															color: $primary-color;

														}

													}

												}

											.entry-content {

												margin: 4px 0 0 0;
												font-size: 14px;
												line-height: 1.65;

												a {

													&:hover {}

												}

											}

										.entry-footer {}

								}

						}

						// Members (Grid)

						// Quick fix for People page

						.page-id-63 & .av_one_full {

							overflow: hidden;

						}

						// Sorting

						.sort_width_container {

							margin: 0;
							padding: 15px 20px;
							background-color: $light-gray;
							border-bottom: 1px solid lighten($gray, 20%);

							#js_sort_items {

								background-color: transparent;

							}

								.sort_by_cat {

									&:before {

										content: "Filter:";
										float: left;
										margin: 0 10px 0 0;
										font-weight: bold;
										text-transform: uppercase;

									}

								}

									a {

										&:hover {}

									}

										.inner_sort_button {

											span {}

											.av-cat-count {}

										}

									.active_sort {

										font-weight: bold;

										&:hover {}

									}

									.text-sep {}

						}

						// Photos

						.grid-sort-container {

							width: calc(100% + 20px);

							.grid-entry {

								margin: 40px 0 0 0 !important;
								padding: 0 20px 0 0;

							}

								.inner-entry {

									margin: 0;
									box-shadow: none;

								}

									.grid-image {

										position: relative;

										&:hover {}

									}

										img {}

										.image-overlay {}

											.image-overlay-inside {}

									.grid-content {

										padding: 15px 0 0 0;

									}

										.avia-arrow {

											display: none;

										}

										.entry-content-header {}

											.grid-entry-title {

												// font-family: "Open Sans";
												font-size: 14px;

												a {

													&:hover {}

												}

											}

									.entry-footer {}

						}

	/* Citations
	--------------------------------------*/

	// Notes...

	#after_section_1 {

		border: none;

		.container {}

			.content {

				padding-top: 0;

			}

				.post-entry {}

					.entry-content-wrapper {}

						.flex_column {

							background: $light-gray;

						}

							.av_textblock_section {

								padding: 15px 20px;
								background: darken($light-gray, 10%);

								.avia_textblock {}

									p {

										margin: 0;
										font-size: 16px;
										line-height: 1.65;
										font-family: "Playfair Display";
										text-transform: uppercase;

									}

							}

							.avia_codeblock_section {

								padding: 15px 20px;

								.avia_codeblock {

									ul {

										margin-bottom: 0;
										list-style-type: decimal;

									}

										li {

											font-size: 14px;
											line-height: 1.65;

										}

								}

							}

	}


























	// Need to organize

	/*Add your own styles here:*/

	.image-overlay, .overlay-type-extern, .image-overlay-inside, .avia-post-nav, #scroll-top-link, .slide-meta {
	    display: none !important;
	}

	/* PEOPLE PAGES */
	#people_wrapper {
		min-height: 184px;
		clear: both;
		width: 100%;

		vertical-align: top;
		margin-bottom: 24px;

	}
	#people_photo {
		float: left;
	}
	#people_photo img {
		width: 150px;
	padding: 8px;
		border: 1px solid #DDD;
	}
	#people_info {
		margin-left: 164px;
		line-height: 1.4em;
		padding-left: 12px;
	}
	#people_profile_wrapper {
		min-height: 400px;
		padding-top: 50px;
	}
	#people_profile_photo {
		float: left;
		padding-right: 24px;
	}
	#people_profile_photo img {
		padding: 8px;
		border: 1px solid #DDD;
		width: 200px;
	}
	#people_profile_info {
		margin-left: 220px;
		line-height: 1.6em;
	}
	#people_profile_bio {
		padding-top: 24px;
	}
	#people_profile_bio ul {
		list-style-type: disc;
		margin-left: 24px;
		margin-top: -12px;
	}
	#people_profile_bio ul li {
		margin-bottom: 4px;
	}

}

.avia-post-nav {

	display: none;

}
