/*--------------------------------------
   Header
--------------------------------------*/

// Notes...

#advanced_menu_hide {

	top: 73px;
	right: 7.5%;
	width: 40px;
	height: 40px;
	// margin-top: -20px;
	color: $white;
	line-height: 40px;
	background-color: $primary-color-dark;
	border: none;
	border-radius: 0;

	&:hover {

		background-color: $primary-color-darker !important;

	}

}

#mobile-advanced {

	padding: 140px 7.5%;
	background: $primary-color;
	border: none;
	transform: none;

	li {

		// font-family: "Open Sans";
		font-weight: bold;
		text-transform: uppercase;

	}

		a {

			padding: 10px 15px;
			color: $white;
			border: none !important;
			background-color: $primary-color-dark;

			&:before {

				content: none !important;

			}

			&:hover {

				background-color: $primary-color-darker !important;

			}

		}

	.current-menu-item {

		a {

			background-color: $primary-color-darker !important;

		}

	}

		.sub-menu {

			background-color: $primary-color-light;

			li {

				font-weight: normal;
				text-transform: none;

			}

				a {

					padding: 10px 15px;
					background-color: $primary-color !important;

					&:hover {

						background-color: $primary-color-light !important;

					}

				}

			.current-menu-item {

				a {

					background-color: $primary-color-light !important;

				}

			}

		}

					.avia-bullet {}

					.avia-menu-text {}
}

#header {

	#header_main {

		border: none;

	}

		// Logo

		.av-logo-container {

			.inner-container {

				position: relative;
				height: 140px;

			}

				.logo {

					position: absolute;
					left: -9px;
					top: 20px;
					float: none;
					height: auto;
					z-index: 1;

					@include mobile {

						display: block;
						height: auto !important;

					}

					a {

						&:hover {}

					}

						img {

							max-height: none;

						}

				}

				#advanced_menu_toggle {

					width: 40px;
					height: 40px;
					margin-top: -20px;
					color: $white;
					line-height: 40px;
					background-color: $primary-color;
					border: none;
					border-radius: 0;

					&:hover {

						background-color: $primary-color-dark;

					}

				}

		}

		// Primary Navigation

		#header_main_alternate {

			background: $primary-color;
			background: linear-gradient(to bottom, $primary-color-light 0%, $primary-color 100%);
			border: none;

			.container {}

				.main_menu {}

					.av-main-nav-wrap {}

						.av-main-nav {

							// background-color: pink;

						}

							li {

								// width: 16.666666667%;
								text-align: center;
								text-transform: uppercase;
								border-right: 1px solid $primary-color-light;

								@media screen and (min-width: 960px) {

									// width: 16.666666667%;

								}

								&:first-of-type {

									border-left: 1px solid $primary-color-light;

								}

								// Resources

								&:nth-child(1) {

									width: 16%;

								}

								// Technologies

								&:nth-child(2) {

									width: 20%;

								}

								// News

								&:nth-child(3) {

									width: 13%;

								}

								// Publications

								&:nth-child(4) {

									width: 19%;

								}

								// People

								&:nth-child(5) {

									width: 14%;

								}

								// Get Involved

								&:nth-child(6) {

									width: 18%;

								}

								&:last-of-type {

									// width: 16%;

								}

								&:hover > a {

									background: $primary-color-light;

								}

							}

								a {

									color: $white;

									@media screen and (min-width: 800px) {

										// padding-left: 20px;
										// padding-right: 20px;

									}

									@media screen and (min-width: 960px) {

										padding-left: 10px;
										padding-right: 10px;

									}

									&:hover {}

								}

							.current-menu-item,
							.current-menu-parent {

								> a {

									background-color: $primary-color;

									&:hover {}

								}

							}

								.sub-menu {

									left: -1px;
									margin-top: 0;
									// border: 1px solid $primary-color-lighter;
									border-top: none;
									box-shadow: 0 8px 15px rgba(0, 0, 0, 0.35);

									li {

										width: 100%;
										text-transform: none;
										border: none;

									}

										a {

											color: #333333;
											border: none;

											&:hover {

												background: lighten($gray, 25%);

											}

										}

									.current-menu-item {

										a {

											background: lighten($gray, 15%);

											&:hover {}

										}

									}

								}

											.avia-bullet {}

											.avia-menu-text {}

											.avia-menu-fx {

												display: none;

											}

												.avia-arrow-wrap {

													.ariva-arrow {}

												}

							#menu-item-search {

								a {

									display: none;

									&:hover {}

									.avia_hidden_link_text {}

								}

								.avia-search-tooltip {

									position: static;
									display: block !important;
									margin: 0;
									border: none;
									border-radius: 0;
									box-shadow: none;
									background: $white;
									opacity: 1 !important;

								}

									.inner_tooltip {

										form {}



									}

									.avia-arrow-wrap {

										display: none;

									}

										.ariva-arrow {}

							}

		}

		// Global Search

		.global-search {

			@include mobile {

				display: none;

			}

			.container {

				height: auto;
				margin: 0 auto;

			}

				.inner-container {

					position: relative;

				}

					form {

						position: absolute;
						top: -140px; // 50 [height of nav], 70 [half height of header], 20 [half height of form]
						right: 0;
						z-index: 5;

					}

						div {

							margin: 0;

						}

							#searchsubmit {

								// background-color: $gray;

								&:focus,
								&:hover {

									background-color: $primary-color-dark;

								}

							}

							#s {

								height: 40px;
								font-family: 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
								color: #333333;
								background-color: $white;

							}

						.ajax_search_response {

							top: 0px;
							border: 1px solid #cccccc;
							border-top: none;
							background: $white;
							box-shadow: 0 0 2px rgba($black, 0.35);

						}

							.ajax_search_entry {

								padding: 10px;

							}

								.ajax_search_image {}

								.ajax_search_content {}

									.ajax_search_title {}

									.ajax_search_excerpt {}


		}

	.header_bg {}

}
