/*--------------------------------------
   Pre-Footer
--------------------------------------*/

// Notes...

#footer {

	padding: 50px 0;
	background: #333333;
	border: none;

	.container {}

		.flex_column {

			margin-top: 0 !important;
			margin-bottom: 0 !important;

		}

		.av_one_third {}

			// Default widget

			.widget {

				margin-top: 0;
				margin-bottom: 0;
				font-size: 14px;

				&:last-of-type {

					// margin: 0;

				}

			}

				.widgettitle {

					margin: 0 0 20px 0;
					// padding: 0 0 20px 0;
					font-size: 18px;
					font-weight: normal;
					color: darken($gray, 25%);
					// border-bottom: 1px solid darken($gray, 25%);

				}

				.seperator {

					display: none;

				}

			// Text-based widget

			.widget_text {

				.textwidget {}

			}

			// Categories Widget

			.widget_nav_menu {

				.widgettitle {}

				.menu-main-menu-container {}

					ul {}

						li {}

							a {

								&:hover {}

							}

							.sub-menu {

								display: none !important;

							}

			}

}
