/*--------------------------------------
   Miscellaneous
--------------------------------------*/

// Notes...

// Wrap
// -------------------------------------

#wrap_all {}

// Return to Top
// -------------------------------------

#scroll-top-link {

	.avia_hidden_link_text {}

}

// Developer Mode
// -------------------------------------

// Notes...

#dev {

	position: fixed;
	left: 5px;
	bottom: 5px;
	width: auto;
	padding: 5px 7px;
	font-size: 12px;
	line-height: 14px;
	font-family: Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: $white;
	background: rgb(212, 176, 255);
	z-index: 9999;

}
