//--------------------------------------
// Mixins
// -------------------------------------

// Notes...

// Fonts
// -------------------------------------

// Font Size

@mixin font-size($font-size: 16) {

	font-size: #{$font-size}px;
	font-size: #{$font-size / 10}rem;

}

// Title
// -------------------------------------

// Self-Clearing Elements

@mixin group {

	&:after {

		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
		font-size: 0;

	}

}

// Title
// -------------------------------------

// Image Replacement

@mixin hide-text() {

	text-indent: -9999px;
	white-space: nowrap;
	overflow: hidden;

}

// Media Queries
// -------------------------------------

// Notes...

// Desktop Styles

@mixin desktop() {

	@media screen and (min-width: 768px) {

		@content;

	}

}

// Mobile Styles

@mixin mobile() {

	@media screen and (max-width: 767px) {

		@content;

	}

}
