/*--------------------------------------
   Variables
--------------------------------------*/

// Notes...

// General
// -------------------------------------

$black: rgb(0, 0, 0);

$white: rgb(255, 255, 255);

// Grays
// -------------------------------------

// This is just an example and needs to be refined

$gray: #aeb0b2; // Found in logo

$obsidian: #111313;
$concrete: #697374;
$silver: #95a5a6;
$clouds: #ecf0f1;

// Branding
// -------------------------------------

// Notes...

// Primary Color (Green)

$primary-color: #2e9941;

$primary-color-light: #4cb15e;
$primary-color-lighter: #7bcd89;

$primary-color-dark: #18802a;
$primary-color-darker: #046214;

// Secondary Color (Blue)

$secondary-color: #26707a;

$secondary-color-light: #3f848e;
$secondary-color-lighter: #68a4ad;

$secondary-color-dark: #155d67;
$secondary-color-darker: #05464f;

// Secondary Color Alternate (Green)

$secondary-color-alternate: #89b938;

$secondary-color-alternate-light: #a9d65c;
$secondary-color-alternate-lighter: #ccef8f;

$secondary-color-alternate-dark: #6d9b1d;
$secondary-color-alternate-darker: #4d7705;

// Complementary Color (Red)

$complementary-color: #c8463c;

$complementary-color-light: #e76d64;
$complementary-color-lighter: #ffa098;

$complementary-color-dark: #a8291f;
$complementary-color-darker: #800e05;
